{% extends 'adminpanel/dashboard-base.html'%}

            {% block content %}
            {% load static %}
            <!-- Content-->
             <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
              <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                <!-- Title-->
                <div class="d-sm-flex flex-wrap justify-content-between align-items-center pb-2">
                  <h2 class="h3 py-2 me-2 text-center text-sm-start">Edit {{category.category_name}}</h2>
                </div> 
                <form action="{% url 'update_category' category.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label class="form-label" >Category Name</label>
                        {% comment %} <label for="id_name">Product Name</label> {% endcomment %}
                        {{ form.category_name }}
                      </div>
                      <br>
                       <div class="form-group col-md-6">
                        <label class="form-label" >Category Slug</label>
                        {% comment %} <label for="product_slug">Product Slug</label> {% endcomment %}
                        {{ form.slug }}
                        <!-- <small id="product_slug" class="form-text text-muted">Format :- name: ATX Jeans, slug: atx-jeans</small> -->
                      </div> 
                      <br>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label class="form-label" >Description</label>
                        {% comment %} <label for="product_price">Product Price</label> {% endcomment %}
                        {{ form.description }}
                      </div>
                      <br>
                      <div class="form-group col-md-6">
                        <label class="form-label" >Add Image</label>

                        {% comment %} <label for="product_image">Product Image</label> {% endcomment %}
                        {{ form.cat_image }}
                      </div>
                    <br>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </form>
  
                

            </section>
        </div>
      </div>
    </div>
  </main> 
  {% endblock content%}
  <!-- Footer-->
  
               