{% extends 'adminpanel/dashboard-base.html'%}

{% block content %}
{% load static %}
<section class="col-lg-8 pt-lg-4 pb-4 mb-3">
    <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
      <!-- Title-->
      
      <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom">
        <h2 class="h3 py-2 me-2 text-center text-sm-start">Users<span class="badge bg-faded-accent fs-sm text-body align-middle ms-2">5</span></h2>
        <div class="py-2">
          {% comment %} <div class="d-flex flex-nowrap align-items-center pb-3">
            <label class="form-label fw-normal text-nowrap mb-0 me-2" for="sorting">Sort by:</label>
            <select class="form-select form-select-sm me-2" id="sorting">
              <option>Date Created</option>
              <option>Product Name</option>
              <option>Price</option>
              <option>Your Rating</option>
              <option>Updates</option>
            </select>
            <button class="btn btn-outline-secondary btn-sm px-2" type="button"><i class="ci-arrow-up"></i></button>
          </div> {% endcomment %}
        </div>
      </div>
      <!-- Product-->
      {% for x in users %}
      <br>
      {% comment %} <br><hr><br> {% endcomment %}
      
      <div class="" style="width:30rem;">
        {% comment %} <a class="d-block mb-3 mb-sm-0 me-sm-4 ms-sm-0 mx-auto" href="marketplace-single.html" style="width: 12.5rem;"><img class="rounded-3" style="width: 5 rem; height:5 rem;" src="{% static 'img/profile.png' %}" alt="User"></a> {% endcomment %}
     
        
        <div class="text-center text-sm-start">
          <h5 class="  mb-2 "><a href="" class="text-dark">{{x.first_name}} {{x.last_name}}</a></h5>
          <p class=" product-title mb-2"><a href="" class="text-info">{{x.username}}</a></p>
          {% comment %} <div  class="d-flex justify-content-center justify-content-sm-start pt-3">
            {% if x.is_active %}
            <a href="{% url 'block_user' x.id %}" onclick="return confirm('Are you sure you want to block {{x.username}}?')"><button   style="width:7rem;" class="btn bg-danger btn-icon me-2" type="button" ><i class="text-success"></i>block user</button></a>
            {% else %}
            <a href="{% url 'unblock_user' x.id %}" onclick="return confirm('Are you sure you want to unblock {{x.username}}?' )" ><button style="width:7rem;" class="btn bg-info btn-icon me-2" type="button" ><i class="text-success"></i>Unblock </button></a>
            {% endif %}
          </div> {% endcomment %}
        </div>
        
      </div>
      <div >
        <div style="margin-left:10rem; margin-top:-3rem; margin-bottom:1rem;" class="d-flex justify-content-center justify-content-sm-end pt-3">
          {% if x.is_active %}
          <a href="{% url 'block_user' x.id %}" onclick="return confirm('Are you sure you want to block {{x.username}}?')"><button   style="width:7rem;" class="btn bg-danger btn-icon me-2" type="button" ><i class="text-success"></i>block user</button></a>
          {% else %}
          <a href="{% url 'unblock_user' x.id %}" onclick="return confirm('Are you sure you want to unblock {{x.username}}?' )" ><button style="width:7rem;" class="btn bg-info btn-icon me-2" type="button" ><i class="text-success"></i>Unblock </button></a>
          {% endif %}
        </div>
      </div>
      <hr>
      {% endfor %}
      <!-- Product-->
      {% comment %} <div class="d-block d-sm-flex align-items-center py-4 border-bottom"><a class="d-block mb-3 mb-sm-0 me-sm-4 ms-sm-0 mx-auto" href="marketplace-single.html" style="width: 12.5rem;"><img class="rounded-3" src="img/marketplace/products/th09.jpg" alt="Product"></a>
        <div class="text-center text-sm-start">
          <h3 class="h6 product-title mb-2"><a href="marketplace-single.html">Square Style Mobile UI Kit (Sketch)</a></h3>
          <div class="d-inline-block text-accent">$24.<small>00</small></div>
          <div class="d-inline-block text-muted fs-ms border-start ms-2 ps-2">Sales: <span class="fw-medium">153</span></div>
          <div class="d-inline-block text-muted fs-ms border-start ms-2 ps-2">Earnings: <span class="fw-medium">$2,570.<small>40</small></span></div>
          <div class="d-flex justify-content-center justify-content-sm-start pt-3">
            <button class="btn bg-faded-accent btn-icon me-2" type="button" data-bs-toggle="tooltip" title="Download"><i class="ci-download text-accent"></i></button>
            <button class="btn bg-faded-info btn-icon me-2" type="button" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit text-info"></i></button>
            <button class="btn bg-faded-danger btn-icon" type="button" data-bs-toggle="tooltip" title="Delete"><i class="ci-trash text-danger"></i></button>
          </div>
        </div>
      </div>
      <!-- Product-->
      <div class="d-block d-sm-flex align-items-center py-4 border-bottom"><a class="d-block mb-3 mb-sm-0 me-sm-4 ms-sm-0 mx-auto" href="marketplace-single.html" style="width: 12.5rem;"><img class="rounded-3" src="img/marketplace/products/th10.jpg" alt="Product"></a>
        <div class="text-center text-sm-start">
          <h3 class="h6 product-title mb-2"><a href="marketplace-single.html">Floating Phone and Tablet Mockup (PSD)</a></h3>
          <div class="d-inline-block text-accent">$15.<small>00</small></div>
          <div class="d-inline-block text-muted fs-ms border-start ms-2 ps-2">Sales: <span class="fw-medium">109</span></div>
          <div class="d-inline-block text-muted fs-ms border-start ms-2 ps-2">Earnings: <span class="fw-medium">$1,144.<small>50</small></span></div>
          <div class="d-flex justify-content-center justify-content-sm-start pt-3">
            <button class="btn bg-faded-accent btn-icon me-2" type="button" data-bs-toggle="tooltip" title="Download"><i class="ci-download text-accent"></i></button>
            <button class="btn bg-faded-info btn-icon me-2" type="button" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit text-info"></i></button>
            <button class="btn bg-faded-danger btn-icon" type="button" data-bs-toggle="tooltip" title="Delete"><i class="ci-trash text-danger"></i></button>
          </div>
        </div>
      </div>
      <!-- Product-->
      <div class="d-block d-sm-flex align-items-center py-4 border-bottom"><a class="d-block mb-3 mb-sm-0 me-sm-4 ms-sm-0 mx-auto" href="marketplace-single.html" style="width: 12.5rem;"><img class="rounded-3" src="img/marketplace/products/th11.jpg" alt="Product"></a>
        <div class="text-center text-sm-start">
          <h3 class="h6 product-title mb-2"><a href="marketplace-single.html">Minimal Mobile App UI Kit (Sketch)</a></h3>
          <div class="d-inline-block text-accent">$23.<small>00</small></div>
          <div class="d-inline-block text-muted fs-ms border-start ms-2 ps-2">Sales: <span class="fw-medium">117</span></div>
          <div class="d-inline-block text-muted fs-ms border-start ms-2 ps-2">Earnings: <span class="fw-medium">$1,883.<small>70</small></span></div>
          <div class="d-flex justify-content-center justify-content-sm-start pt-3">
            <button class="btn bg-faded-accent btn-icon me-2" type="button" data-bs-toggle="tooltip" title="Download"><i class="ci-download text-accent"></i></button>
            <button class="btn bg-faded-info btn-icon me-2" type="button" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit text-info"></i></button>
            <button class="btn bg-faded-danger btn-icon" type="button" data-bs-toggle="tooltip" title="Delete"><i class="ci-trash text-danger"></i></button>
          </div>
        </div>
      </div>
      <!-- Product-->
      <div class="d-block d-sm-flex align-items-center pt-4 pb-2"><a class="d-block mb-3 mb-sm-0 me-sm-4 ms-sm-0 mx-auto" href="marketplace-single.html" style="width: 12.5rem;"><img class="rounded-3" src="img/marketplace/products/th12.jpg" alt="Product"></a>
        <div class="text-center text-sm-start">
          <h3 class="h6 product-title mb-2"><a href="marketplace-single.html">Travel &amp; Landmark Icon Pack (AI)</a></h3>
          <div class="d-inline-block text-accent">$17.<small>00</small></div>
          <div class="d-inline-block text-muted fs-ms border-start ms-2 ps-2">Sales: <span class="fw-medium">21</span></div>
          <div class="d-inline-block text-muted fs-ms border-start ms-2 ps-2">Earnings: <span class="fw-medium">$249.<small>90</small></span></div>
          <div class="d-flex justify-content-center justify-content-sm-start pt-3">
            <button class="btn bg-faded-accent btn-icon me-2" type="button" data-bs-toggle="tooltip" title="Download"><i class="ci-download text-accent"></i></button>
            <button class="btn bg-faded-info btn-icon me-2" type="button" data-bs-toggle="tooltip" title="Edit"><i class="ci-edit text-info"></i></button>
            <button class="btn bg-faded-danger btn-icon" type="button" data-bs-toggle="tooltip" title="Delete"><i class="ci-trash text-danger"></i></button>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
  </section> 

{% endblock content%}